/**
 *
 * Help Scout Seed CSS Framework
 * https://www.helpscout.com
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

body {
  background: #F1F3F5;
  color: #2b2b2b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.22;
  min-width: 960px !important; }

.c-badge {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A5B2BD;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  padding: 4px 5px;
  text-transform: uppercase;
  vertical-align: middle; }

.c-badge.is-active, .c-badge.is-success {
  background-color: #3CB170; }

.c-badge.is-closed {
  background-color: #72808E; }

.c-badge.is-error, .c-badge.is-spam {
  background-color: #D21B14; }

.c-badge.is-info {
  background-color: #3197D6; }

.c-badge.is-warning {
  background-color: #F5B126; }

.o-flex {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.o-flex__block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.o-flex--reset {
  max-width: 100%;
  min-width: 0; }

[class*="o-flex"].u-v-align-top {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

[class*="o-flex"].u-v-align-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

[class*="o-flex"].u-v-align-bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.o-inline {
  margin-bottom: -5px;
  margin-left: 0; }
  .o-inline:after {
    clear: both;
    content: "";
    display: table; }
  .o-inline__item {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 0;
    vertical-align: middle; }

.u-mrg-none {
  margin: 0 !important; }

.u-mrg-xs {
  margin: 5px !important; }

.u-mrg-sm {
  margin: 10px !important; }

.u-mrg-md {
  margin: 15px !important; }

.u-mrg-lg {
  margin: 30px !important; }

.u-mrg-xl {
  margin: 45px !important; }

.u-mrg-t-none {
  margin-top: 0 !important; }

.u-mrg-t-xs {
  margin-top: 5px !important; }

.u-mrg-t-sm {
  margin-top: 10px !important; }

.u-mrg-t-md {
  margin-top: 15px !important; }

.u-mrg-t-lg {
  margin-top: 30px !important; }

.u-mrg-t-xl {
  margin-top: 45px !important; }

.u-mrg-r-none {
  margin-right: 0 !important; }

.u-mrg-r-xs {
  margin-right: 5px !important; }

.u-mrg-r-sm {
  margin-right: 10px !important; }

.u-mrg-r-md {
  margin-right: 15px !important; }

.u-mrg-r-lg {
  margin-right: 30px !important; }

.u-mrg-r-xl {
  margin-right: 45px !important; }

.u-mrg-b-none {
  margin-bottom: 0 !important; }

.u-mrg-b-xs {
  margin-bottom: 5px !important; }

.u-mrg-b-sm {
  margin-bottom: 10px !important; }

.u-mrg-b-md {
  margin-bottom: 15px !important; }

.u-mrg-b-lg {
  margin-bottom: 30px !important; }

.u-mrg-b-xl {
  margin-bottom: 45px !important; }

.u-mrg-l-none {
  margin-left: 0 !important; }

.u-mrg-l-xs {
  margin-left: 5px !important; }

.u-mrg-l-sm {
  margin-left: 10px !important; }

.u-mrg-l-md {
  margin-left: 15px !important; }

.u-mrg-l-lg {
  margin-left: 30px !important; }

.u-mrg-l-xl {
  margin-left: 45px !important; }

.u-mrg-h-none {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.u-mrg-h-xs {
  margin-left: 5px !important;
  margin-right: 5px !important; }

.u-mrg-h-sm {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.u-mrg-h-md {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.u-mrg-h-lg {
  margin-left: 30px !important;
  margin-right: 30px !important; }

.u-mrg-h-xl {
  margin-left: 45px !important;
  margin-right: 45px !important; }

.u-mrg-v-none {
  margin-bottom: 0 !important;
  margin-top: 0 !important; }

.u-mrg-v-xs {
  margin-bottom: 5px !important;
  margin-top: 5px !important; }

.u-mrg-v-sm {
  margin-bottom: 10px !important;
  margin-top: 10px !important; }

.u-mrg-v-md {
  margin-bottom: 15px !important;
  margin-top: 15px !important; }

.u-mrg-v-lg {
  margin-bottom: 30px !important;
  margin-top: 30px !important; }

.u-mrg-v-xl {
  margin-bottom: 45px !important;
  margin-top: 45px !important; }

.u-mrg--auto {
  margin: auto !important; }

.u-mrg-t-auto {
  margin-top: auto !important; }

.u-mrg-r-auto {
  margin-right: auto !important; }

.u-mrg-b-auto {
  margin-bottom: auto !important; }

.u-mrg-l-auto {
  margin-left: auto !important; }

.u-mrg-h-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.u-mrg-v-auto {
  margin-bottom: auto !important;
  margin-top: auto !important; }

.u-pad-none {
  padding: 0 !important; }

.u-pad-xs {
  padding: 5px !important; }

.u-pad-sm {
  padding: 10px !important; }

.u-pad-md {
  padding: 15px !important; }

.u-pad-lg {
  padding: 30px !important; }

.u-pad-xl {
  padding: 45px !important; }

.u-pad-t-none {
  padding-top: 0 !important; }

.u-pad-t-xs {
  padding-top: 5px !important; }

.u-pad-t-sm {
  padding-top: 10px !important; }

.u-pad-t-md {
  padding-top: 15px !important; }

.u-pad-t-lg {
  padding-top: 30px !important; }

.u-pad-t-xl {
  padding-top: 45px !important; }

.u-pad-r-none {
  padding-right: 0 !important; }

.u-pad-r-xs {
  padding-right: 5px !important; }

.u-pad-r-sm {
  padding-right: 10px !important; }

.u-pad-r-md {
  padding-right: 15px !important; }

.u-pad-r-lg {
  padding-right: 30px !important; }

.u-pad-r-xl {
  padding-right: 45px !important; }

.u-pad-b-none {
  padding-bottom: 0 !important; }

.u-pad-b-xs {
  padding-bottom: 5px !important; }

.u-pad-b-sm {
  padding-bottom: 10px !important; }

.u-pad-b-md {
  padding-bottom: 15px !important; }

.u-pad-b-lg {
  padding-bottom: 30px !important; }

.u-pad-b-xl {
  padding-bottom: 45px !important; }

.u-pad-l-none {
  padding-left: 0 !important; }

.u-pad-l-xs {
  padding-left: 5px !important; }

.u-pad-l-sm {
  padding-left: 10px !important; }

.u-pad-l-md {
  padding-left: 15px !important; }

.u-pad-l-lg {
  padding-left: 30px !important; }

.u-pad-l-xl {
  padding-left: 45px !important; }

.u-pad-h-none {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.u-pad-h-xs {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.u-pad-h-sm {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.u-pad-h-md {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.u-pad-h-lg {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.u-pad-h-xl {
  padding-left: 45px !important;
  padding-right: 45px !important; }

.u-pad-v-none {
  padding-bottom: 0 !important;
  padding-top: 0 !important; }

.u-pad-v-xs {
  padding-bottom: 5px !important;
  padding-top: 5px !important; }

.u-pad-v-sm {
  padding-bottom: 10px !important;
  padding-top: 10px !important; }

.u-pad-v-md {
  padding-bottom: 15px !important;
  padding-top: 15px !important; }

.u-pad-v-lg {
  padding-bottom: 30px !important;
  padding-top: 30px !important; }

.u-pad-v-xl {
  padding-bottom: 45px !important;
  padding-top: 45px !important; }
