// Components :: Navbar :: Components :: Dropdown

& .c-dropdown {
  > .c-dropdown__content {
    background-color: color(white);
    top: $HS-navbar-dropdown-offset;
  }

  &.open > .c-dropdown__toggle {
    color: $HS-navbar-text-color;
  }
}
