// Components :: Buttons :: Base

.c-btn--subtle {
  background-color: transparent;
  color: $HS-color-text-subtler;

  &:hover {
    background-color: rgba(color(black), 0.05);
    color: $HS-color-text-subtle;
  }
}

.c-btn--rounded {
  border-color: color(button-border);
  border-radius: 200px;

  &:hover {
    background-color: $HS-button-background-color;
    border-color: darken(color(button-border), 8);
  }
}



// States
.c-btn {
  &.is-danger {
    background-color: $HS-color-error-badge;
    border-color: $HS-color-error-border;
    color: color(white);

    &:hover,
    &:active,
    &:focus {
      background-color: $HS-color-error-badge;
      border-color: $HS-color-error-badge;
    }

    @include form-disabled-styles() {
      background-color: $HS-color-error-badge;
      border-color: $HS-color-error-badge;
    }
  }
}

.c-btn--link {
  &.is-danger {
    background-color: transparent;
    border-color: transparent;
    color: $HS-color-error-badge;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
