// Components :: Buttons :: Base

.c-btn {
  @include appearance(none);
  @include transition(background-color 0.1s linear);
  @include user-select(none);
  background-color: $HS-button-background-color;
  border-radius: $HS-border-radius-md;
  border: 1px solid;
  border-color: $HS-button-border-color;
  color: $HS-color-text;
  cursor: pointer;
  display: inline-block;
  font-size: $HS-font-size-sm;
  font-weight: $HS-button-font-weight;
  height: $HS-form-height;
  line-height: $HS-form-line-height;
  outline: none;
  padding: $HS-form-padding;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    background-color: $HS-button-background-color-hover;
    text-decoration: none;
  }

  &:active {
    border-color: color(button-active);
    box-shadow: $HS-button-box-shadow-active;
  }

  &:focus {
    border-color: $HS-color-focus;
    outline: 0;
  }

  @include form-disabled-styles() {
    background-color: $HS-button-background-color;
    border-color: $HS-button-border-color;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
  }
}
