// Components :: Form Control :: Base

& {
  @include transition(border 0.2s linear);
  background-color: color(white);
  border: 1px solid;
  border-color: color(button-border);
  border-radius: $HS-border-radius-md;
  color: $HS-color-text;
  display: inline-block;
  font-size: $HS-font-size-sm;
  height: $HS-form-height-sm;
  padding: $HS-form-padding-xs;
  position: relative;
  vertical-align: middle;
  width: 100%;

  &:not(select) {
    @include appearance(none);
  }

  &:focus {
    border-color: $HS-color-primary;
    outline: none;
  }

  &[readonly] {
    background-color: color(button-hover);
    border-color: color(button-border);

    &:focus {
      border-color: $HS-color-primary;
    }
  }

  @include form-disabled-styles() {
    background-color: color(button-hover);
    border-color: color(button-border);
    cursor: not-allowed;
  }

  textarea& {
    padding: $HS-form-padding-xs-box;
    height: auto;
  }
}
