// Components :: Switch :: Modifiers :: SM

&--sm {
  height: $HS-switch-height-sm;
  line-height: $HS-switch-height-sm;
  width: $HS-switch-width-sm;

  &::before {
    height: $HS-switch-trigger-size-sm;
    width: $HS-switch-trigger-size-sm;
  }
}
