// Components :: Switch :: Modifiers :: XS

&--xs {
  height: $HS-switch-height-xs;
  line-height: $HS-switch-height-xs;
  width: $HS-switch-width-xs;

  &::before {
    height: $HS-switch-trigger-size-xs;
    width: $HS-switch-trigger-size-xs;
  }
}
