// Components :: Form Checkbox :: Base

& {
  @include normalize-margin;
  display: block;
  margin-bottom: space(sm);
  padding-left: space(lg);
  position: relative;

  > input[type="checkbox"],
  > input[type="radio"] {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
  }

  @include form-disabled-styles() {
    color: $HS-color-text-subtler;
    cursor: not-allowed;
    opacity: $HS-opacity-disabled;
  }
}
