// Variables :: Badge

$HS-badge-font-size:              $HS-font-size-xs !default;
$HS-badge-font-weight:            $HS-font-weight-bold !default;
$HS-badge-height:                 18px !default;
$HS-badge-line-height-count:      $HS-badge-height - 2 !default;
$HS-badge-padding:                0 space(xs) !default;
