// Variables :: Borders

// Dependencies
@import "../functions/all";


// Border styles
$HS-border:                       1px solid color(grey) !default;

// Border radius
$HS-border-radius:                4px !default;
$HS-border-radius-base:           $HS-border-radius !default;
$HS-border-radius-md:             3px !default;
$HS-border-radius-sm:             2px !default;
$HS-border-radius-avatar:         50px !default;
