// Variables :: Breadcrumb

$HS-breadcrumb-arrow-size:                    13px !default;
$HS-breadcrumb-background-color:              color(white) !default;
$HS-breadcrumb-height:                        40px !default;
