// Variables :: Buttons

$HS-button-padding:           0 12px !default;
$HS-button-padding-lg:        0 space(lg) !default;
$HS-button-padding-sm:        0 space(md) !default;
$HS-button-padding-xs:        0 8px !default;
