// Variables :: Button

$HS-button-background-color:            color(white) !default;
$HS-button-background-color-hover:      color(button-hover) !default;
$HS-button-border-color:                color(button-border) !default;
$HS-button-box-shadow-active:           rgba(color(black), 0.15) 0px 2px 4px inset, rgba(color(black), 0.05) 0px 1px 2px !default;
$HS-button-font-weight:                 $HS-font-weight-normal !default;

