// Variables :: Colors

// Base colors (Palette)
$HS-colors: (

  // Base
  white: #fff,
  black: #000,

  // Primary
  blue: (
    100: #F7FCFE,
    200: #DAF1FF,
    300: #AEDFFF,
    400: #71BFF1,
    500: #3197D6,
    600: #237AB3,
    700: #1F5E89,
    800: #194C6E,
    900: #143D57
  ),

  charcoal: (
    200: #93A1AF,
    300: #72808E,
    400: #4F5D6B,
    500: #394956,
    600: #2A3B47,
    700: #253540,
    800: #1D2B36
  ),

  grey: (
    200: #F9FAFA,
    300: #F1F3F5,
    400: #E3E8EB,
    500: #D6DDE3,
    600: #C1CBD4,
    700: #B4C0CA,
    800: #A5B2BD
  ),

  // Secondary
  yellow: (
    100: #FFFDF6,
    200: #FFF6E2,
    300: #FFE8B5,
    400: #FFD56D,
    500: #FFC646,
    600: #F5B126,
    700: #D79400,
    800: #B37100,
    900: #875200
  ),

  green: (
    100: #FAFDFB,
    200: #E4FBE6,
    300: #C4F0CE,
    400: #81DC9E,
    500: #4BC27D,
    600: #3CB170,
    700: #2F9F62,
    800: #228350,
    900: #23633e
  ),

  red: (
    100: #FEF7F6,
    200: #FFE3E2,
    300: #FFA2A2,
    400: #F45B55,
    500: #E52F28,
    600: #D21B14,
    700: #BA1F19,
    800: #9D1F1A,
    900: #731814
  ),

  purple: (
    100: #FBFBFE,
    200: #EAEAFC,
    300: #D1D2F6,
    400: #A3A4F3,
    500: #7E80E7,
    600: #696ACA,
    700: #585B9E,
    800: #45467D,
    900: #383966
  ),

  orange: (
    100: #FFF8F2,
    200: #FFEAD8,
    300: #FFD3AE,
    400: #FFA75A,
    500: #FF9139,
    600: #E87800,
    700: #C76400,
    800: #A45300,
    900: #813C00
  ),

  // App colors
  // These are temp colors, that will be added to the palette when possible
  text:         #2b2b2b,

  grey-light:   #999,
  grey-lighter: #eee,
  grey-dark:    #333,

  button-border: #d5d5d5,
  button-hover: #e6e6e6,
  button-active: #b6b6b6,

  modal-backdrop: #32465b,

  navbar: #2a4258,
  navbar-active: #09243A

) !default;



// Color variables
$HS-color-primary:                  color(blue, 500) !default;
$HS-color-primary-hover:            color(blue, 600) !default;


// Typography
$HS-color-text:                     color(text) !default;
$HS-color-text-subtler:             color(charcoal, 200) !default;
$HS-color-text-subtle:              color(charcoal, 300) !default;
$HS-color-text-muted:               color(grey, 800) !default;
$HS-color-text-faint:               color(grey, 700) !default;
$HS-color-text-fainter:             color(grey, 600) !default;
$HS-color-link:                     $HS-color-primary !default;


// States
$HS-color-error-background:         color(red, 200) !default;
$HS-color-error-border:             color(red, 500) !default;
$HS-color-error-box-shadow:         color(red, 500) !default;
$HS-color-error-badge:              color(red, 600) !default;
$HS-color-error-text:               color(red, 800) !default;

$HS-color-info-background:          color(blue, 200) !default;
$HS-color-info-border:              color(blue, 500) !default;
$HS-color-info-box-shadow:          color(blue, 500) !default;
$HS-color-info-badge:               color(blue, 600) !default;
$HS-color-info-text:                color(blue, 800) !default;

$HS-color-success-background:       color(green, 200) !default;
$HS-color-success-border:           color(green, 500) !default;
$HS-color-success-box-shadow:       color(green, 500) !default;
$HS-color-success-badge:            color(green, 600) !default;
$HS-color-success-text:             color(green, 800) !default;

$HS-color-warning-background:       color(yellow, 200) !default;
$HS-color-warning-border:           color(yellow, 500) !default;
$HS-color-warning-box-shadow:       color(yellow, 500) !default;
$HS-color-warning-badge:            color(yellow, 600) !default;
$HS-color-warning-text:             color(yellow, 800) !default;


// Backgrounds
$HS-color-background-lighter:       color(grey, 200) !default;
$HS-color-background-light:         color(grey, 300) !default;
$HS-color-background-clickable:     $HS-color-background-light !default;
$HS-color-inactive-background:      color(grey, 300) !default;
$HS-color-badge-background:         color(grey, 800) !default;
$HS-color-closed-badge:             color(charcoal, 300) !default;
