// Variables :: Dropdown

$HS-dropdown-box-shadow:          0 6px 12px rgba(color(black),.175) !default;
$HS-dropdown-margin:              2px 0 0 !default;
$HS-dropdown-width:               160px !default;
$HS-dropdown-width-wide:          480px !default;

$HS-dropdown-content-border:      1px solid rgba(color(black), 0.2);
