// Variables :: Forms

// Height
$HS-form-height:                30px !default;
$HS-form-height-lg:             42px !default;
$HS-form-height-sm:             28px !default;
$HS-form-height-xs:             22px !default;

$HS-form-line-height:           ($HS-form-height - 2) !default;
$HS-form-line-height-lg:        ($HS-form-height-lg - 2) !default;
$HS-form-line-height-sm:        ($HS-form-height-sm - 2) !default;
$HS-form-line-height-xs:        ($HS-form-height-xs - 2) !default;



// Padding
$HS-form-padding:           0 12px !default;
$HS-form-padding-lg:        0 space(lg) !default;
$HS-form-padding-sm:        0 space(md) !default;
$HS-form-padding-xs:        0 8px !default;
