// Variables :: Loader

$HS-loader-background-color:                     rgba(color(black), 0.55) !default;
$HS-loader-border-radius:                        6px !default;
$HS-loader-offset-top:                           30% !default;
$HS-loader-padding:                              space(sm) !default;
