// Variables :: Menu

$HS-menu-padding:               4px 0 !default;
$HS-menu-item-padding:          7px 12px !default;
$HS-menu-divider-height:        2px !default;
$HS-menu-divider-margin:        3px 1px !default;
