// Variables :: Modal

$HS-modal-backdrop-opacity:                   0.7 !default;
$HS-modal-border:                             1px solid rgba(color(black), 0.2) !default;
$HS-modal-title-line-height:                  26px !default;
$HS-modal-title-padding:                      space(sm) 0 !default;
$HS-modal-dialog-offset-top:                  36px !default;
$HS-modal-content-box-shadow:                 0 10px 40px rgba(color(black), 0.2) !default;
$HS-modal-width:                              600px !default;
$HS-modal-footer-padding:                     0 space(xl) space(xl) !default;
$HS-modal-transition:                         all 0.15s ease-in-out !default;
