// Variables :: Navbar

$HS-navbar-background-color:      color(navbar) !default;
$HS-navbar-height:                40px !default;
$HS-navbar-padding:               0 7px !default;
$HS-navbar-dropdown-offset:       35px !default;
$HS-navbar-text-color:            color(white) !default;

$HS-navbar-item-padding:          0 space(md) !default;
