// Variables :: Nav (Tab)

$HS-nav-tab-border-color-hover:               color(grey, 500) !default;
$HS-nav-tab-border-size:                      2px !default;

$HS-nav-tab-item-padding:                     space(md) space(lg) !default;
