// Variables :: Pagination

$HS-pagination-link-background-color:             color(white) !default;
$HS-pagination-link-margin:                       0 2px;
$HS-pagination-link-padding:                      space(xs) 8px;
$HS-pagination-link-box-shadow-active:            0 3px 4px 0 rgba(color(black), 0.11) !default;
