// Variables :: Popover

$HS-popover-arrow-size:                               11px !default;
$HS-popover-arrow-size-offset:                        ($HS-popover-arrow-size - 1) !default;
$HS-popover-background-color:                         color(white) !default;
$HS-popover-border-color:                             color(grey) !default;
$HS-popover-box-shadow:                               0 1px 7px 0 rgba(color(black),.08) !default;
$HS-popover-content-padding:                          9px 14px !default;
$HS-popover-offset:                                   10px !default;
$HS-popover-padding:                                  1px !default;
$HS-popover-title-padding:                            8px 14px !default;
$HS-popover-width-max:                                276px !default;
