// Variables :: Spinner

$HS-spinner-border:                                 2px !default;
$HS-spinner-border-color:                           color(white) !default;
$HS-spinner-color:                                  color(grey, 700) !default;
$HS-spinner-size:                                   16px !default;
$HS-spinner-size-sm:                                14px !default;
$HS-spinner-size-lg:                                32px !default;
