// Variables :: Switch

$HS-switch-background:                      color(mac-grey) !default;
$HS-switch-border-radius:                   100px !default;
$HS-switch-offset:                          2px !default;
$HS-switch-padding:                         0 space(sm) !default;
$HS-switch-height:                          28px !default;
$HS-switch-width:                           ceil($HS-switch-height * 2) !default;

$HS-switch-trigger-offset:                  ceil($HS-switch-offset * 2) !default;
$HS-switch-trigger-size:                    ($HS-switch-height - $HS-switch-trigger-offset) !default;

// Alternate sizes
$HS-switch-height-sm:                       24px !default;
$HS-switch-width-sm:                        ceil($HS-switch-height-sm * 2) !default;
$HS-switch-trigger-size-sm:                 ($HS-switch-height-sm - $HS-switch-trigger-offset) !default;

$HS-switch-height-xs:                       16px !default;
$HS-switch-width-xs:                        ceil($HS-switch-height-xs * 2) !default;
$HS-switch-trigger-size-xs:                 ($HS-switch-height-xs - $HS-switch-trigger-offset) !default;

// States
$HS-switch-background-active:               $HS-color-primary !default;
