// Variables :: Tooltip

$HS-tooltip-arrow-size:                         5px !default;
$HS-tooltip-background:                         color(grey-dark) !default;
$HS-tooltip-offset:                             3px !default;
$HS-tooltip-padding:                            3px space(sm) !default;
$HS-tooltip-width-max:                          200px !default;
