// Variables :: Typography

// Dependencies
@import "../functions/all";


// Font Family
$HS-font-family-sans-serif:   "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$HS-font-family-alt:          "Lucida Grande", "Lucida Sans", Arial, sans-serif !default;
$HS-font-family-serif:        Georgia, "Times New Roman", Times, serif !default;
$HS-font-family-mono:         Menlo, Monaco, Consolas, "Courier New", monospace !default;
$HS-font-family-base:         $HS-font-family-sans-serif !default;



// Sizes
$HS-font-size-lg:            15px !default;
$HS-font-size-md:            13px !default;
$HS-font-size-sm:            12px !default;
$HS-font-size-xs:            11px !default;
$HS-font-size-xxs:           10px !default;

$HS-font-size-base:          14px !default;
$HS-font-size-app-px:        12px !default;
// This is calculated by taking $HS-font-size-app-px and dividing by
// the default font size of the browser
$HS-font-size-app:           percentage(strip-unit($HS-font-size-app-px) / 16) !default;

// Headings
$HS-font-size-h1:            24px !default;
$HS-font-size-h2:            20px !default;
$HS-font-size-h3:            16px !default;
$HS-font-size-h4:            $HS-font-size-base !default;
$HS-font-size-h5:            $HS-font-size-md !default;
$HS-font-size-h6:            $HS-font-size-sm !default;



// Line Heights
$HS-line-height-app:         1.22 !default;
$HS-line-height-heading:     $HS-line-height-app !default;
$HS-line-height-quote:       1.25 !default;
$HS-line-height-p:           1.4 !default;
$HS-line-height-base:        1.5 !default;
$HS-line-height-base-px:     ceil($HS-font-size-app-px * $HS-line-height-base) !default;



// Weights
$HS-font-weight-bold:        600 !default;
$HS-font-weight-boldish:     500 !default;
$HS-font-weight-normal:      400 !default;
$HS-font-weight-light:       300 !default;

$HS-font-weight-base:        $HS-font-weight-normal !default;
