// Variables :: Typography

// Dependencies
@import "../functions/all";


// Font Family
$HS-font-family-sans-serif:   "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$HS-font-family-alt:          "Lucida Grande", "Lucida Sans", Arial, sans-serif !default;
$HS-font-family-serif:        Georgia, "Times New Roman", Times, serif !default;
$HS-font-family-mono:         Menlo, Monaco, Consolas, "Courier New", monospace !default;
$HS-font-family-base:         $HS-font-family-sans-serif !default;



// Sizes

// This is the default font size that all the font variables are based on
$HS-font-size-base:          14px !default;
// A special px version is provided for special use cases.
$HS-font-size-app-px:        12px !default;


$HS-font-size-xl:            rem(18px) !default;
$HS-font-size-lg:            rem(15px) !default;
$HS-font-size-md:            rem(13px) !default;
$HS-font-size-sm:            rem(12px) !default;
$HS-font-size-xs:            rem(11px) !default;
$HS-font-size-xxs:           rem(10px) !default;

// This is calculated by taking $HS-font-size-app-px and dividing by
// the default font size of the browser
$HS-font-size-app:           percentage(strip-unit($HS-font-size-app-px) / 16) !default;

// Headings
$HS-font-size-h1:            rem(24px) !default;
$HS-font-size-h2:            rem(20px) !default;
$HS-font-size-h3:            rem(16px) !default;
$HS-font-size-h4:            rem($HS-font-size-base) !default;
$HS-font-size-h5:            rem($HS-font-size-md) !default;
$HS-font-size-h6:            rem($HS-font-size-sm) !default;

$HS-font-size-display-1:     rem(48px) !default;
$HS-font-size-display-2:     rem(42px) !default;
$HS-font-size-display-3:     rem(36px) !default;
$HS-font-size-display-4:     rem(32px) !default;


$HS-font-size-p-lead:        rem(18px) !default;


// Letter spacing
$HS-letter-spacing-wide:     0.05rem !default;



// Line Heights
$HS-line-height-app:         1.5 !default;
$HS-line-height-heading:     $HS-line-height-app !default;
$HS-line-height-quote:       1.25 !default;
$HS-line-height-p:           1.4 !default;
$HS-line-height-base:        1.5 !default;
$HS-line-height-base-px:     ceil($HS-font-size-app-px * $HS-line-height-base) !default;



// Weights
$HS-font-weight-bold:        600 !default;
$HS-font-weight-boldish:     500 !default;
$HS-font-weight-normal:      400 !default;
$HS-font-weight-light:       300 !default;

$HS-font-weight-base:        $HS-font-weight-normal !default;
