// Variables :: Z-index

$HS-z-index: (
  reset:                  0,
  base:                   1,

  alerts:                 2,

  control-group-focus:    2,

  dropdown:               1000,

  modal:                  1050,
  modal-backdrop:         1040,

  loader:                 1060,

  popover:                1060,

  text-truncate-fade:     2,

  thread-pin:             1,
  tooltip:                1070

) !default;
