// Components :: Avatar :: Modifiers :: Photo

.c-avatar--photo {
  border-radius: $HS-border-radius;
  box-shadow: 0 1px 1px rgba(color(black), 0.2);
  height: $HS-avatar-size-photo;
  width: $HS-avatar-size-photo;
}
