// Components :: Button :: Modifiers :: LG

&--lg {
  border-radius: $HS-border-radius;
  font-size: $HS-font-size-lg;
  height: $HS-form-height-lg;
  line-height: $HS-form-line-height-lg;
  padding: $HS-form-padding-lg;
}
