// Components :: Button :: Modifiers :: Link

&--link {
  background-color: transparent;
  border-color: transparent;
  color: $HS-color-primary;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  @include form-disabled-styles() {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
  }
}
