// Components :: Block :: Modifiers :: Block

&--rounded {
  border-color: color(button-border);
  border-radius: 200px;

  &:hover {
    background-color: $HS-button-background-color;
    border-color: darken(color(button-border), 8);
  }
}
