// Components :: Breadcrumb :: Base

& {
  @include list-unstyled;
  background-color: $HS-breadcrumb-background-color;
  border-bottom: $HS-border;
  margin: 0;

  > li {
    margin: 0;
  }

  &__item {
    display: inline-block;
    font-size: $HS-font-size-xl;
    font-weight: $HS-font-weight-normal;
    height: $HS-breadcrumb-height;
    line-height: $HS-breadcrumb-height;
    padding-left: space(lg);
    padding-right: space(xs);
    position: relative;

    > a {
      color: $HS-color-text-muted;
      text-decoration: none;

      &:hover {
        color: $HS-color-text;
        text-decoration: none;
      }
    }
  }
}
