// Components :: Card :: Base

.c-card {
  background-color: $HS-card-background-color;
  border-radius: $HS-border-radius;
  box-shadow: $HS-card-box-shadow;
  margin-bottom: space(lg);

  > * {
    &:first-child {
      @include border-top-radius($HS-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($HS-border-radius);
    }
  }
}
