// Components :: Pagination :: States :: Active

&__link {
  &.is-active {
    border-color: $HS-color-text-subtler;
    color: $HS-color-link;
    font-weight: $HS-font-weight-bold;
    box-shadow: $HS-pagination-link-box-shadow-active;
  }
}
