// Components :: Switch :: Base

& {
  @include appearance(none);
  @include transition(all 0.3s ease);
  background-color: $HS-switch-background;
  border: 1px solid;
  border-color: $HS-switch-background;
  border-radius: $HS-switch-border-radius;
  box-shadow: 0 0 0 0 rgba(color(black), 0.1) inset;
  color: $HS-color-text;
  cursor: pointer;
  display: inline-block;
  font-size: $HS-font-size-sm;
  height: $HS-switch-height;
  line-height: $HS-switch-height;
  padding: $HS-switch-padding;
  position: relative;
  text-align: right;
  width: $HS-switch-width;

  &::before {
    @include transition(all 0.1s ease);
    background-color: color(white);
    border-radius: $HS-switch-border-radius;
    box-shadow: $HS-z-shadow-2;
    content: "";
    height: $HS-switch-trigger-size;
    left: $HS-switch-offset-inner;
    position: absolute;
    top: $HS-switch-offset-inner;
    width: $HS-switch-trigger-size;
  }

  &:hover {
    &::before {
      box-shadow: $HS-z-shadow-3;
    }
  }

  &:active {
    &::before {
      box-shadow: $HS-z-shadow-3;
      width: 60%;
    }
  }
}



// States
.c-switcher input:checked + .c-switch,
.c-switch.is-active,
.c-switch.active {
  background-color: $HS-switch-background-active;
  border-color: $HS-switch-background-active;
  color: color(white);
  text-align: left;

  &::before {
    left: inherit;
    right: $HS-switch-offset-inner;
  }
}

.c-switcher > input:focus + .c-switch,
.c-switch.is-focused {
  box-shadow: 0 0 0 1px rgba(color(white), 0.5) inset;
}
