// Generators :: Width

// Generates a single width utility class
@mixin generate-width-class($index: 1, $modifier: false, $breakpoint: xs) {
  $_util-classname: u-width-#{$index};
  $_columns: ceil($HS-grid-columns * 2);
  $_width: ceil(($index / $_columns) * container(xl)) !important;

  @if $modifier {
    $_util-classname: u-width-#{$index}-#{$modifier};
  }

  // Fluid widths
  @if $modifier == "fluid" {
    $_width: percentage($index / $_columns) !important;
  }

  @if $breakpoint != "xs" {
    $_util-classname: #{$_util-classname}--at-#{$breakpoint};
  }

  .#{$_util-classname} {

    @if $modifier == "max" {
      max-width: $_width;
    }
    @else if $modifier == "min" {
      max-width: 100%;
      min-width: $_width;
    }
    @else {
      max-width: 100%;
      width: $_width;
    }
  }
}

// Generates the range of width utility classes
// Example:
// .u-width-5
@mixin generate-width($modifier: false) {
  $_columns: ceil($HS-grid-columns * 2);

  // Generate responsive widths for default .u-width only
  @if $modifier == false {
    @each $breakpoint in map-keys($HS-breakpoints) {
      @include breakpoint-up($breakpoint, $HS-breakpoints) {

        @for $i from 1 through $_columns {
          @include generate-width-class($i, $modifier, $breakpoint);
        }
      }
    }
  }
  @else {
    @for $i from 1 through $_columns {
      @include generate-width-class($i, $modifier);
    }
  }
}
