// Components :: Nav :: States :: Active

$component: #{&};

&--stacked {
  #{$component}__item.is-active {
    color: $HS-color-text;
    font-weight: $HS-font-weight-bold;
  }
}

&--tab {
  #{$component}__item.is-active {
    border-bottom-color: $HS-color-primary;
    color: $HS-color-text;
  }
}
