// Functions :: Colors

// Dependencies
@import "../variables/colors";


@function color($name, $shade: false) {
  $default-shade: 500;

  @if map-has-key($HS-colors, $name) {
    $color: map-get($HS-colors, $name);

    // Palette colors
    @if type-of($color) == "map" {

      // Shade is defined
      @if $shade == false or type-of($shade) != "number" {
        $shade: $default-shade;
      }
      $color: map-get($color, $shade);

      // Warn if default is not available
      @if type-of($color) != "color" {
        @warn "No color called \"#{$name}\" with the shade \"#{$shade}\" found. "
        + "Are you sure it's in `variables/colors`?";
      }
    }

    @if type-of($color) == "color" {
      @return $color;
    }

    @else {
      // Color is invalid, shade is passed in
      @if type-of($color) == "null" and $shade {
        @warn "No color called \"#{$name}\" with the shade \"#{$shade}\" found. "
        + "Are you sure it's in `variables/colors`?";
      }

      // Color has no palette
      @else if type-of($color) == "color" and $shade {
        @warn "The color \"#{$name}\" does not have any shades. "
        + "Are you sure it's in `variables/colors`?";
      }
    }

  } @else {
    @warn "No color called \"#{$name}\" found. "
    + "Are you sure it's in `variables/colors?`";
  }
}
