// Components :: Switch :: States :: Active

.c-switcher input:checked + &,
&.is-active,
&.active {
  background-color: $HS-switch-background-active;
  border-color: $HS-switch-background-active;
  color: color(white);
  text-align: left;

  &::before {
    left: inherit;
    right: $HS-switch-offset-inner;
  }
}
