// Components :: Alerts :: States :: Error

&.is-error {
  background-color: $HS-color-error-background;
  box-shadow: $HS-alert-box-shadow $HS-color-error-box-shadow;

  @include all-text() {
    color: $HS-color-error-text;
  }
}
