// Components :: Alerts :: States :: Info

&.is-info {
  background-color: $HS-color-info-background;
  box-shadow: $HS-alert-box-shadow $HS-color-info-box-shadow;

  @include all-text() {
    color: $HS-color-info-text;
  }
}
