// Utilities :: Positioning

.u-clearfix {
  @include clearfix;
}

.u-pull-left {
  @include breakpoint-all() {
    float: left !important;
  }
}

.u-pull-right {
  @include breakpoint-all() {
    float: right !important;
  }
}

.u-v-align-top {
  vertical-align: top;
}

.u-v-align-middle {
  vertical-align: middle;
}

.u-v-align-bottom {
  vertical-align: bottom;
}
