// Utilities :: Typography


// Table of contents
// - Alignment
// - Coloring
// - Cases
// - Decoration
// - Readability
// - Sizing
// - Wrapping


// Alignment
.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}



// Coloring
.u-text-default {
  color: color(text) !important;
}

.u-text-subtle {
  color: color(charcoal, 300) !important;
}

.u-text-muted {
  color: color(grey, 800) !important;
}

.u-text-faint {
  color: color(grey, 700) !important;
}

.u-text-fainter {
  color: color(grey, 600) !important;
}

.u-text-link {
  color: color(blue) !important;
}



// Cases
.u-text-capitalize {
  text-transform: capitalize !important;
}

.u-text-lowercase {
  text-transform: lowercase !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}



// Decoration
.u-text-strikethrough {
  text-decoration: line-through !important;
}

.u-text-underline {
  text-decoration: underline !important;
}

.u-text-no-underline {
  text-decoration: none !important;
}



// Font family
.u-text-sans-serif {
  font-family: $HS-font-family-sans-serif !important;
}

.u-text-serif {
  font-family: $HS-font-family-serif !important;
}

.u-text-mono {
  font-family: $HS-font-family-mono !important;
}


// Readability
.u-text-smooth {
  @include font-smooth;
}



// Sizing
.u-text-md {
  font-size: $HS-font-size-md !important;
}

.u-text-sm {
  font-size: $HS-font-size-sm !important;
}

.u-text-xs {
  font-size: $HS-font-size-xs !important;
}

.u-text-xxs {
  font-size: $HS-font-size-xxs !important;
}



// Weight
.u-text-light {
  font-weight: $HS-font-weight-light !important;
}

.u-text-normal {
  font-weight: $HS-font-weight-normal !important;
}

.u-text-boldish {
  font-weight: $HS-font-weight-boldish !important;
}

.u-text-bold {
  font-weight: $HS-font-weight-bold !important;
}



// Wrapping
.u-text-break-all {
  word-break: break-all !important;
}

.u-text-break-word {
  word-break: break-word !important;
}

.u-text-justify {
  text-align: justify !important;
}

.u-text-nowrap {
  white-space: nowrap !important;
}

.u-text-truncate {
  @include text-truncate();
}

.u-text-truncate-block {
  @include text-truncate();
  display: block;
}

.u-text-truncate-fade {
  @include text-truncate();
  display: block;
  position: relative;
  text-overflow: inherit;
  z-index: 1;

  &:after {
    @include linear-gradient(right, color(white), transparent, $fallback: transparent);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: space(lg);
    z-index: 2;
  }
}
