// Utilities :: Typography

// Coloring
.u-text-default {
  color: $HS-color-text !important;
}

.u-text-subtle {
  color: $HS-color-text-subtle !important;
}

.u-text-muted {
  color: $HS-color-text-muted !important;
}

.u-text-faint {
  color: $HS-color-text-faint !important;
}

.u-text-fainter {
  color: $HS-color-text-fainter !important;
}

.u-text-link {
  color: $HS-color-primary !important;
}


// Font family
.u-text-sans-serif {
  font-family: $HS-font-family-sans-serif !important;
}

.u-text-serif {
  font-family: $HS-font-family-serif !important;
}

.u-text-mono {
  font-family: $HS-font-family-mono !important;
}


.u-text-justify {
  text-align: justify !important;
}

.u-text-nowrap {
  white-space: nowrap !important;
}


.u-text-truncate-fade {
  @include text-truncate();
  display: block;
  position: relative;
  text-overflow: inherit;
  z-index: z-index(base);

  &::after {
    @include linear-gradient(right, color(white), transparent, $fallback: transparent);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: space(lg);
    z-index: z-index(text-truncate-fade);
  }
}
