// Utilities :: Visibility

.is-invisible {
  visibility: hidden !important;
}

.is-visible {
  visibility: visible !important;
}

.hidden,
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  & + * {
    margin-top: 0;
  }
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
