// Components :: Nav :: Modifiers :: Tab

$component: #{&};

&--tab {
  border-bottom: $HS-border;

  #{$component}__item {
    border-bottom: $HS-nav-tab-border-size solid transparent;
    color: $HS-color-text;
    padding: $HS-nav-tab-item-padding;
    text-decoration: none;

    &:hover {
      border-bottom-color: $HS-nav-tab-border-color-hover;
    }
  }
}
