// Components :: Navbar :: States :: Active

&__link.is-active {
  background-color: color(navbar-active);
  color: $HS-navbar-text-color;

  > .c-caret {
    border-top-color: $HS-navbar-text-color;
  }
}
