// Components :: Block :: Footer

.c-block-footer {
  background-color: $HS-color-background-lighter;
  display: block;
  border-top: $HS-border;
  padding: $HS-block-header-padding;
  position: relative;

  &:first-child {
    border-top: 0;
  }
}
