// Components :: Form Addon :: Base

.c-form-addon {
  background-color: $HS-color-background-light;
  border: 1px solid;
  border-color: color(button-border);
  border-radius: $HS-border-radius-md;
  font-size: $HS-font-size-sm;
  height: $HS-form-height-sm;
  line-height: $HS-form-line-height;
  padding: $HS-form-padding-xs;
}
