// Components :: Alerts

.c-alert {
  background-color: $HS-color-warning-background;
  box-shadow: $HS-alert-box-shadow $HS-color-warning-box-shadow;
  margin-bottom: space(md);
  padding: $HS-alert-padding;
  position: relative;
  z-index: z-index(alerts);

  @include all-text() {
    color: $HS-color-warning-text;
  }
}


// States
.c-alert {
  &.is-info {
    background-color: $HS-color-info-background;
    box-shadow: $HS-alert-box-shadow $HS-color-info-box-shadow;

    @include all-text() {
      color: $HS-color-info-text;
    }
  }

  &.is-error {
    background-color: $HS-color-error-background;
    box-shadow: $HS-alert-box-shadow $HS-color-error-box-shadow;

    @include all-text() {
      color: $HS-color-error-text;
    }
  }

  &.is-success {
    background-color: $HS-color-success-background;
    box-shadow: $HS-alert-box-shadow $HS-color-success-box-shadow;

    @include all-text() {
      color: $HS-color-success-text;
    }
  }
}
