// Components :: Badges

// Badge variables
$HS-badge-height:                 18px !default;
$HS-badge-line-height-count:      $HS-badge-height - 2 !default;


// Badge component
.c-badge {
  @include font-smooth;
  background-color: color(grey, 800);
  border-radius: $HS-border-radius-sm;
  color: color(white);
  display: inline-block;
  font-size: $HS-font-size-xs;
  font-style: normal;
  font-weight: $HS-font-weight-bold;
  height: $HS-badge-height;
  line-height: $HS-badge-height;
  padding: 0 space(xs);
  text-transform: uppercase;
  vertical-align: middle;
}


// Modifiers
.c-badge--count {
  background: color(grey, 300);
  border-radius: $HS-border-radius-md;
  border: $HS-border;
  color: color(charcoal, 200);
  font-weight: $HS-font-weight-normal;
  line-height: $HS-badge-line-height-count;
}


// Badge states
.c-badge {
  &.is-active,
  &.is-success {
    background-color: $HS-color-success-badge;
  }
  &.is-closed {
    background-color: $HS-color-closed-badge;
  }
  &.is-error,
  &.is-spam {
    background-color: $HS-color-error-badge;
  }
  &.is-info {
    background-color: $HS-color-info-badge;
  }
  &.is-warning {
    background-color: $HS-color-warning-badge;
  }
}
