// Components :: Badges

// Badge variables
$HS-badge-height:         18px;


// Badge component
.c-badge {
  @include font-smooth;
  background-color: color(grey, 800);
  border-radius: $HS-border-radius-sm;
  color: color(white);
  display: inline-block;
  font-size: $HS-font-size-xs;
  font-style: normal;
  font-weight: $HS-font-weight-bold;
  height: $HS-badge-height;
  line-height: $HS-badge-height;
  padding: 0 space(xs);
  text-transform: uppercase;
  vertical-align: middle;
}


// Badge states
.c-badge {
  &.is-active,
  &.is-success {
    background-color: color(green, 600);
  }
  &.is-closed {
    background-color: color(charcoal, 300);
  }
  &.is-error,
  &.is-spam {
    background-color: color(red, 600);
  }
  &.is-info {
    background-color: color(blue, 500);
  }
  &.is-warning {
    background-color: color(yellow, 600);
  }
}
