// Component :: Block

.c-block {
  display: block;
  padding: $HS-block-padding;
  position: relative;

  & + & {
    border-top: $HS-border;
  }
}


.c-block-header {
  border-bottom: $HS-border;
  color: $HS-color-text;
  display: block;
  padding: $HS-block-header-padding;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $HS-color-text;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 0;
  }

  + .c-block-footer {
    border-top: 0;
  }
}

.c-block-footer {
  background-color: $HS-color-background-lighter;
  display: block;
  border-top: $HS-border;
  padding: $HS-block-header-padding;
  position: relative;

  &:first-child {
    border-top: 0;
  }
}

.c-block-collapsible {
  border-bottom: $HS-border;
  display: block;
  margin-bottom: -1px;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}


// Configurations

// Nav tabs
.c-block-header {
  .c-nav--tab {
    border-bottom: 0;
  }
}
