// Components :: Card

// Card variables
$HS-card-header-padding:        12px space(lg) !default;


// Card component
.c-card {
  background-color: color(white);
  border-radius: $HS-border-radius;
  box-shadow: 0 1px 2px rgba(color(black),.2);
  margin-bottom: space(lg);

  & > * {
    &:first-child {
      @include border-top-radius($HS-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($HS-border-radius);
    }
  }
}

.c-card__header {
  border-bottom: $HS-border;
  display: block;
  padding: $HS-card-header-padding;

  &:last-child {
    border-bottom: none;
  }

  & + .c-card__footer {
    border-top: none;
  }
}

a.c-card__header {
  color: color(text);
  text-decoration: none;

  &:hover {
    color: color(text);
    text-decoration: none;
  }
}


.c-card__block {
  display: block;
  padding: space(md) space(lg);

  & + & {
    border-top: $HS-border;
  }
}

.c-card__accordion {
  border-bottom: $HS-border;
  display: block;
  position: relative;
  margin-bottom: -1px;
}

.c-card__footer {
  background-color: color(grey, 200);
  display: block;
  border-top: $HS-border;
  padding: $HS-card-header-padding;

  &:first-child {
    border-top: none;
  }
}


// Modifiers
.c-card--flat {
  border: $HS-border;
  box-shadow: none;
}

.c-card--square {
  border-radius: 0;

  & > * {
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

.is-borderless {
  border: none !important;
}

.c-card__header.is-clickable {
  &:hover {
    background-color: color(grey, 300);
  }
}
