// Components :: Caret

// Caret variables
$HS-caret-margin:                   2px;
$HS-caret-size:                     4px;



// Caret component
.c-caret {
  border-left: $HS-caret-size solid transparent;
  border-right: $HS-caret-size solid transparent;
  border-top: $HS-caret-size solid color(charcoal, 800);
  display: inline-block;
  height: 0;
  margin-left: $HS-caret-margin;
  vertical-align: middle;
  width: 0;
}
