// Components :: Caret

.c-caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid color(charcoal, 800);
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}
