// Components :: Card

.c-card {
  background-color: color(white);
  border-radius: $HS-border-radius;
  box-shadow: 0 1px 2px rgba(color(black),.2);
  margin-bottom: space(lg);

  & > * {
    &:first-child {
      @include border-top-radius($HS-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($HS-border-radius);
    }
  }
}


// Modifiers
.c-card--flat {
  border: $HS-border;
  box-shadow: none;
}

.c-card--index {
  border-top: 5px solid color(yellow, 500);
}

.c-card--square {
  border-radius: 0;

  & > * {
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

.is-borderless {
  border: none !important;
}

.c-card__header.is-clickable {
  &:hover {
    background-color: color(grey, 300);
  }
}
