// Components :: Card

.c-card {
  background-color: $HS-card-background-color;
  border-radius: $HS-border-radius;
  box-shadow: $HS-card-box-shadow;
  margin-bottom: space(lg);

  > * {
    &:first-child {
      @include border-top-radius($HS-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($HS-border-radius);
    }
  }
}


// Modifiers
.c-card--flat {
  border: $HS-border;
  box-shadow: none;
}

.c-card--index {
  border-top: $HS-card-index-border;
}

.c-card--square {
  border-radius: 0;

  > * {
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

.is-borderless {
  border: none !important;
}

.c-card__header.is-clickable {
  &:hover {
    background-color: $HS-color-background-clickable;
  }
}
