// Components :: Dropdown

.c-dropdown {
  @include clearfix;
  display: inline-block;
  position: relative;
}

.c-dropdown__toggle {
  color: $HS-color-link;
  cursor: pointer;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-dropdown__content {
  background-clip: padding-box;
  background-color: $HS-color-background-lighter;
  border-radius: $HS-border-radius;
  border: $HS-dropdown-content-border;
  box-shadow: $HS-dropdown-box-shadow;
  display: none;
  float: left;
  left: 0;
  list-style: none;
  margin: $HS-dropdown-margin;
  min-width: $HS-dropdown-width;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: z-index(dropdown);
}



// Modifiers
.c-dropdown--up {
  > .c-dropdown__toggle {
    > .c-caret {
      @include transform(rotate(180deg));
    }
  }

  > .c-dropdown__content {
    bottom: 100%;
    margin-bottom: space(md);
    top: auto;
  }
}

.c-dropdown--right {
  > .c-dropdown__content {
    left: auto;
    right: 0;
  }
}

.c-dropdown--wide {
  > .c-dropdown__content {
    max-width: $HS-dropdown-width-wide;
    white-space: nowrap;
  }
}



// States
.c-dropdown.open {
  > .c-dropdown__toggle {
    color: $HS-color-link;
  }

  > .c-dropdown__content {
    display: block;
  }
}
