// Components :: Loader

.c-loader {
  @include align-items(center);
  @include backface-visibility(hidden);
  @include display(flex);
  @include filter(blur(0));
  @include justify-content(center);
  @include perspective(1000);
  @include transform(translate3d(-50%, 0, 0));
  background-color: $HS-loader-background-color;
  border-radius: $HS-loader-border-radius;
  box-shadow: none;
  color: color(white);
  left: 50%;
  overflow: hidden;
  padding: $HS-loader-padding;
  position: fixed;
  top: $HS-loader-offset-top;
  z-index: z-index(loader);
}
