// Components :: Modal

.c-modal {
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: z-index(modal);
}

.c-modal__dialog {
  @include display(flex);
  @include justify-content(center);
  position: relative;
  margin: space(sm);

  @include breakpoint(md) {
    margin: $HS-modal-dialog-offset-top auto;
    width: $HS-modal-width;
  }
}

.c-modal__content {
  border-radius: $HS-border-radius;
  box-shadow: $HS-modal-content-box-shadow;
  margin-bottom: space(xl);
  width: 100%;

  > .c-card {
    @include normalize-margin;
    box-shadow: none;
    border: 0;
  }
}


// State: Open
// This class is for Fancybox and Redactor modals
body.overflow-hidden {
  overflow: hidden;
}
