// Components :: Nav (Tab)

.c-nav--tab {
  border-bottom: $HS-border;

  .c-nav__item {
    border-bottom: $HS-nav-tab-border-size solid transparent;
    color: $HS-color-text;
    padding: $HS-nav-tab-item-padding;
    text-decoration: none;

    &:hover {
      border-bottom-color: $HS-nav-tab-border-color-hover;
    }
  }

  // Modifiers
  .c-nav__item.is-active {
    border-bottom-color: $HS-color-primary;
    color: $HS-color-text;
  }
}
