// Components :: Nav (Stacked)

.c-nav--stacked {
  padding-bottom: space(md);

  li {
    display: block;
  }

  .c-nav__item {
    border-radius: $HS-border-radius-md;
    color: $HS-color-text;
    display: block;
    font-size: $HS-font-size-sm;
    margin-bottom: $HS-nav-stacked-item-margin;
    margin-top: $HS-nav-stacked-item-margin;
    padding: $HS-nav-stacked-item-padding;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
      background-color: $HS-color-background-light;
      color: $HS-color-text;
    }
  }

  // Modifiers
  .c-nav__item.is-active {
    color: $HS-color-text;
    font-weight: $HS-font-weight-bold;
  }
}
