// Components :: Navbar

// Navbar variables
$HS-navbar-background-color:      color(navbar) !default;
$HS-navbar-height:                40px !default;
$HS-navbar-padding:               0 7px !default;
$HS-navbar-dropdown-offset:       35px !default;


// Navbar component
.c-navbar {
  background-color: $HS-navbar-background-color;
  height: $HS-navbar-height;
  padding: $HS-navbar-padding;
}

.c-navbar__link {
  color: rgba(color(white), 0.65);
  display: block;
  font-size: $HS-font-size-sm;
  line-height: $HS-navbar-height;
  padding: 0 space(md);
  text-decoration: none;

  & > .c-caret {
    border-top-color: rgba(color(white), 0.65);
  }

  &:hover {
    color: color(white);
    text-decoration: none;

    & > .c-caret {
      border-top-color: color(white);
    }
  }
}


// States
.c-navbar__link.is-active {
  background-color: color(navbar-active);
  color: color(white);

  & > .c-caret {
    border-top-color: color(white);
  }
}



// Dropdown styles
.c-navbar .c-dropdown {
  & > .c-dropdown__content {
    background-color: color(white);
    top: $HS-navbar-dropdown-offset;
  }

  &.open > .c-dropdown__toggle {
    color: color(white);
  }
}
