// Components :: Navbar

.c-navbar {
  background-color: $HS-navbar-background-color;
  height: $HS-navbar-height;
  padding: $HS-navbar-padding;
}

.c-navbar__link {
  color: rgba($HS-navbar-text-color, 0.65);
  display: block;
  font-size: $HS-font-size-sm;
  line-height: $HS-navbar-height;
  padding: $HS-navbar-item-padding;
  text-decoration: none;

  > .c-caret {
    border-top-color: rgba($HS-navbar-text-color, 0.65);
  }

  &:hover {
    color: $HS-navbar-text-color;
    text-decoration: none;

    > .c-caret {
      border-top-color: $HS-navbar-text-color;
    }
  }
}


// States
.c-navbar__link.is-active {
  background-color: color(navbar-active);
  color: $HS-navbar-text-color;

  > .c-caret {
    border-top-color: $HS-navbar-text-color;
  }
}



// Dropdown styles
.c-navbar .c-dropdown {
  > .c-dropdown__content {
    background-color: color(white);
    top: $HS-navbar-dropdown-offset;
  }

  &.open > .c-dropdown__toggle {
    color: $HS-navbar-text-color;
  }
}
