// Components :: Nav (Stacked)

// Nav tab variables
$HS-nav-tab-border-color-hover:               color(grey, 500) !default;

// Nav tab component
.c-nav--tab {
  border-bottom: $HS-border;

  .c-nav__item {
    border-bottom: 2px solid transparent;
    color: $HS-color-text;
    padding: space(md) space(lg);
    text-decoration: none;

    &:hover {
      border-bottom-color: $HS-nav-tab-border-color-hover;
    }
  }

  // Modifiers
  .c-nav__item.is-active {
    border-bottom-color: $HS-color-primary;
    color: $HS-color-text;
  }
}
