// Components :: Noty

// Noty variables
$HS-noty-box-shadow:                        0 3px 8px rgba(color(black), 0.2) !default;
$HS-noty-offset-top:                        16px !default;
$HS-noty-padding:                           space(xs) space(md) !default;
$HS-noty-text-shadow:                       1px 1px 0 rgba(color(white), 0.75) !default;
$HS-noty-width-max:                         50% !default;


// Noty component
.c-noty-container {
  @include display(flex);
  @include justify-content(center);
  @include transform(translateZ(0));
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: $HS-noty-offset-top;
  z-index: z-index(noty);
}


// Default theme: Warning
.c-noty {
  @include transform(translateZ(0));
  background-color: color(blue, 200);
  border-radius: $HS-border-radius-md;
  border: 1px solid;
  border-color: color(blue, 500);
  box-shadow: $HS-noty-box-shadow;
  color: color(blue, 800);
  cursor: pointer;
  display: inline-block;
  font-size: $HS-font-size-md;
  line-height: $HS-line-height-base;
  max-width: $HS-noty-width-max;
  padding: $HS-noty-padding;
  text-align: left;
  text-shadow: $HS-noty-text-shadow;
}


// States
.c-noty {
  &.is-error {
    background-color: color(red, 200);
    border-color: color(red, 500);
    color: color(red, 800);
  }

  &.is-success {
    background-color: color(green, 200);
    border-color: color(green, 500);
    color: color(green, 800);
  }

  &.is-warning {
    background-color: color(yellow, 100);
    border-color: color(yellow, 500);
    color: color(yellow, 800);
  }
}
