// Components :: Noty

.c-noty-container {
  @include display(flex);
  @include justify-content(center);
  @include transform(translateZ(0));
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: $HS-noty-offset-top;
  z-index: z-index(noty);
}


// Default theme: Warning
.c-noty {
  @include transform(translateZ(0));
  background-color: $HS-color-info-background;
  border-radius: $HS-border-radius-md;
  border: 1px solid;
  border-color: $HS-color-info-border;
  box-shadow: $HS-noty-box-shadow;
  color: $HS-color-info-text;
  cursor: pointer;
  display: inline-block;
  font-size: $HS-font-size-md;
  line-height: $HS-line-height-base;
  max-width: $HS-noty-width-max;
  padding: $HS-noty-padding;
  text-align: $HS-noty-text-align;
  text-shadow: $HS-noty-text-shadow;
}


// States
.c-noty {
  &.is-error {
    background-color: $HS-color-error-background;
    border-color: $HS-color-error-border;
    color: $HS-color-error-text;
  }

  &.is-success {
    background-color: $HS-color-success-background;
    border-color: $HS-color-success-border;
    color: $HS-color-success-text;
  }

  &.is-warning {
    background-color: $HS-color-warning-background;
    border-color: $HS-color-warning-border;
    color: $HS-color-warning-text;
  }
}
