// Components :: Pagination

.c-pagination {
  @include normalize-margin;
  font-size: $HS-font-size-xs;
  margin-bottom: space(lg);
  text-align: center;

  > * {
    display: inline-block;
    margin: $HS-pagination-link-margin;
    padding: $HS-pagination-link-padding;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-pagination__link {
  background-color: $HS-pagination-link-background-color;
  border: $HS-border;
  border-radius: $HS-border-radius;
  color: $HS-color-text;
  font-size: $HS-font-size-sm;
}


// States
.c-pagination__link.is-active {
  border-color: $HS-color-text-subtler;
  color: $HS-color-link;
  font-weight: $HS-font-weight-bold;
  box-shadow: $HS-pagination-link-box-shadow-active;
}
