// Components :: Popover

// Popover variables

.popover {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: $HS-popover-background-color;
  border-radius: $HS-border-radius-md;
  border: 1px solid $HS-popover-border-color;
  box-shadow: $HS-popover-box-shadow;
  color: $HS-color-text;
  display: none;
  font-family: $HS-font-family-base;
  font-size: $HS-font-size-base;
  font-style: normal;
  font-weight: $HS-font-weight-normal;
  left: 0;
  letter-spacing: normal;
  line-break: auto;
  line-height: $HS-line-height-base;
  max-width: $HS-popover-width-max;
  padding: $HS-popover-padding;
  position: absolute;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  top: 0;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: z-index(popover);
}

// Modifiers
.popover {
  &.top {
    margin-top: -($HS-popover-offset);
  }

  &.right {
    margin-left: $HS-popover-offset;
  }

  &.bottom {
    margin-top: $HS-popover-offset;
  }

  &.left {
    margin-left: -($HS-popover-offset);
  }
}

.popover-title {
  background-color: $HS-color-background-light;
  border-bottom: $HS-border;
  border-radius: $HS-border-radius-md $HS-border-radius-md 0 0;
  font-size: $HS-font-size-sm;
  margin: 0;
  padding: $HS-popover-title-padding;
}

.popover-content {
  padding: $HS-popover-content-padding;
}


// Arrow styles
.popover > .arrow,
.popover > .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.arrow {
  .popover > & {
    border-width: $HS-popover-arrow-size;

    &:after {
      content: "";
      border-width: $HS-popover-arrow-size-offset;
    }
  }

  .popover.top > & {
    border-bottom-width: 0;
    border-top-color: $HS-popover-border-color;
    bottom: -($HS-popover-arrow-size);
    left: 50%;
    margin-left: -($HS-popover-arrow-size);

    &:after {
      border-bottom-width: 0;
      border-top-color: #fff;
      bottom: 1px;
      content: " ";
      margin-left: -($HS-popover-arrow-size-offset);
    }
  }

  .popover.right > & {
    border-left-width: 0;
    border-right-color: rgba(color(black), .2);
    left: -($HS-popover-arrow-size);
    margin-top: -($HS-popover-arrow-size);
    top: 50%;

    &:after {
      border-left-width: 0;
      border-right-color: #fff;
      bottom: -($HS-popover-arrow-size-offset);
      content: " ";
      left: 1px;
    }
  }

  .popover.bottom > & {
    border-bottom-color: rgba(color(black), .2);
    border-top-width: 0;
    left: 50%;
    margin-left: -($HS-popover-arrow-size);
    top: -($HS-popover-arrow-size);

    &:after {
      border-bottom-color: color(white);
      border-top-width: 0;
      content: " ";
      margin-left: -($HS-popover-arrow-size-offset);
      top: 1px;
    }
  }

  .popover.left > & {
    border-left-color: rgba(color(black), .2);
    border-right-width: 0;
    margin-top: -($HS-popover-arrow-size);
    right: -($HS-popover-arrow-size);
    top: 50%;

    &:after {
      border-left-color: color(white);
      border-right-width: 0;
      bottom: -($HS-popover-arrow-size-offset);
      content: " ";
      right: 1px;
    }
  }
}
