// Components :: Spinner

.c-spinner {
  @include animation(spin 1.2s infinite linear);
  border: $HS-spinner-border solid;
  border-bottom-color: $HS-spinner-border-color;
  border-left-color: $HS-spinner-border-color;
  border-right-color: $HS-spinner-color;
  border-top-color: $HS-spinner-color;
  border-radius: 100% !important;
  display: inline-block;
  height: $HS-spinner-size;
  width: $HS-spinner-size;
}


// Modifiers
.c-spinner {
  &--sm {
    height: $HS-spinner-size-sm;
    width: $HS-spinner-size-sm;
  }

  &--lg {
    height: $HS-spinner-size-lg;
    width: $HS-spinner-size-lg;
  }
}
