// Components :: Thread

.c-thread {
  background-color: $HS-thread-background-color;
  border-bottom: $HS-border;
  border-top: $HS-border;
  box-shadow: $HS-thread-border-size 0 $HS-thread-accent-default inset;
  padding: $HS-thread-padding;
  position: relative;

  & + & {
    border-top: 0;
  }
}

.c-thread-avatar {
  width: $HS-thread-avatar-size;
}

.c-thread-title {
  color: $HS-thread-accent-default-title;
  font-size: $HS-font-size-h3;
  font-weight: $HS-font-weight-normal;

  &__name {
    color: color(black) !important;
    font-weight: $HS-font-weight-boldish;
  }
}

.c-thread-pin {
  @include triangle($HS-thread-pin-size $HS-thread-pin-size, $HS-thread-accent-default transparent, up-left);
  left: $HS-thread-pin-offset;
  position: absolute;
  top: 0;
  z-index: z-index(thread-pin);
}



// Modifiers
.c-thread--customer {
  box-shadow: none;
}

.c-thread--draft {
  box-shadow: $HS-thread-border-size 0 $HS-color-primary inset;

  .c-thread-title {
    color: $HS-color-primary;
  }

  .c-thread-pin {
    border-top-color: $HS-color-primary;
  }
}

.c-thread--forward {
  box-shadow: $HS-thread-border-size 0 $HS-thread-accent-forward inset;

  .c-thread-title {
    color: $HS-thread-accent-forward-title;
  }

  .c-thread-pin {
    border-top-color: $HS-thread-accent-forward;
  }
}

.c-thread--note {
  box-shadow: $HS-thread-border-size 0 $HS-thread-accent-note inset;

  .c-thread-title {
    color: $HS-thread-accent-note-title;
  }

  .c-thread-pin {
    border-top-color: $HS-thread-accent-note;
  }
}

.c-thread--traffic-cop {
  box-shadow: $HS-thread-border-size 0 $HS-thread-accent-traffic-cop inset;

  .c-thread-title {
    color: $HS-thread-accent-traffic-cop-title;
  }

  .c-thread-pin {
    border-top-color: $HS-thread-accent-traffic-cop;
  }
}

