// Components :: Tooltip

// Tooltip component
// Source: Bootstrap
// http://getbootstrap.com/javascript/#tooltips

.tooltip {
  @include font-smooth;
  display: block;
  font-family: $HS-font-family-base;
  font-size: $HS-font-size-xs;
  font-style: normal;
  font-weight: $HS-font-weight-bold;
  letter-spacing: normal;
  line-break: auto;
  line-height: $HS-line-height-base;
  opacity: 0;
  position: absolute;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: z-index(tooltip);
}

.tooltip-inner {
  background-color: $HS-tooltip-background;
  border-radius: $HS-border-radius-md;
  color: color(white);
  max-width: $HS-tooltip-width-max;
  padding: $HS-tooltip-padding;
  text-align: center;
}

.tooltip-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;

  .tooltip.top & {
    bottom: 0;
    left: 50%;
    margin-left: -($HS-tooltip-arrow-size);
    border-width: $HS-tooltip-arrow-size $HS-tooltip-arrow-size 0;
    border-top-color: $HS-tooltip-background;
  }

  .tooltip.top-left & {
    right: $HS-tooltip-arrow-size;
    bottom: 0;
    margin-bottom: -($HS-tooltip-arrow-size);
    border-width: $HS-tooltip-arrow-size $HS-tooltip-arrow-size 0;
    border-top-color: $HS-tooltip-background;
  }
  .tooltip.top-right & {
    bottom: 0;
    left: $HS-tooltip-arrow-size;
    margin-bottom: -($HS-tooltip-arrow-size);
    border-width: $HS-tooltip-arrow-size $HS-tooltip-arrow-size 0;
    border-top-color: $HS-tooltip-background;
  }
  .tooltip.right & {
    top: 50%;
    left: 0;
    margin-top: -($HS-tooltip-arrow-size);
    border-width: $HS-tooltip-arrow-size $HS-tooltip-arrow-size $HS-tooltip-arrow-size 0;
    border-right-color: $HS-tooltip-background;
  }
  .tooltip.left & {
    top: 50%;
    right: 0;
    margin-top: -($HS-tooltip-arrow-size);
    border-width: $HS-tooltip-arrow-size 0 $HS-tooltip-arrow-size $HS-tooltip-arrow-size;
    border-left-color: $HS-tooltip-background;
  }
  .tooltip.bottom & {
    top: 0;
    left: 50%;
    margin-left: -($HS-tooltip-arrow-size);
    border-width: 0 $HS-tooltip-arrow-size $HS-tooltip-arrow-size;
    border-bottom-color: $HS-tooltip-background;
  }
  .tooltip.bottom-left & {
    top: 0;
    right: $HS-tooltip-arrow-size;
    margin-top: -($HS-tooltip-arrow-size);
    border-width: 0 $HS-tooltip-arrow-size $HS-tooltip-arrow-size;
    border-bottom-color: $HS-tooltip-background;
  }
  .tooltip.bottom-right & {
    top: 0;
    left: $HS-tooltip-arrow-size;
    margin-top: -($HS-tooltip-arrow-size);
    border-width: 0 $HS-tooltip-arrow-size $HS-tooltip-arrow-size;
    border-bottom-color: $HS-tooltip-background;
  }
}


// Modifiers
.tooltip {
  &.top {
    padding: $HS-tooltip-arrow-size 0;
    margin-top: -($HS-tooltip-offset);
  }
  &.right {
    padding: 0 $HS-tooltip-arrow-size;
    margin-left: $HS-tooltip-offset;
  }
  &.bottom {
    padding: $HS-tooltip-arrow-size 0;
    margin-top: $HS-tooltip-offset;
  }
  &.left {
    padding: 0 $HS-tooltip-arrow-size;
    margin-left: -($HS-tooltip-offset);
  }
}


// States
.tooltip.in {
  opacity: 0.9;
}
