// Components :: Dropdown :: Modifiers :: Up

$component: #{&};

&--up {
  > #{$component}__toggle {
    > .c-caret {
      @include transform(rotate(180deg));
    }
  }

  > #{$component}__content {
    bottom: 100%;
    margin-bottom: space(md);
    top: auto;
  }
}
