// Components :: Dropdown :: Modifiers :: Up

&--up {
  > .c-dropdown__toggle {
    > .c-caret {
      @include transform(rotate(180deg));
    }
  }

  > .c-dropdown__content {
    bottom: 100%;
    margin-bottom: space(md);
    top: auto;
  }
}
