// Components :: Form Control :: Modifiers :: Static

&--static {
  display: inline-block;
  line-height: $HS-form-line-height-sm;
  margin: 0;
  min-height: $HS-form-height-sm;
  vertical-align: middle;
}
