// Components :: Switcher :: Base

& {
  display: inline-block;
  margin: 0;
  position: relative;

  > input {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
