// Base :: Base

html, body {
  height:100%;
}

body {
  background: color(grey, 300);
  color: color(text);
  font-family: $HS-font-family-base;
  font-size: $HS-font-size-app;
  line-height: $HS-line-height-app;
  min-width: $HS-grid-container;
  width: 100%;
}
