// Base :: Base

* {
  box-sizing: border-box;
}

html {
  font-size: $HS-font-size-base;
  height: 100%;
}

body {
  background: $HS-color-background-light;
  color: $HS-color-text;
  height: 100%;
  font-family: $HS-font-family-base;
  line-height: $HS-line-height-app;
  width: 100%;
}
