// Base :: Typography

// Typography variables
$HS-blockquote-border:                    5px solid color(grey-lighter) !default;


// Table of contents
// - Headings
// - Body
// - Links
// - Blockquotes
// - Code
// - Horizontal rule


// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $HS-color-text;
  font-weight: $HS-font-weight-bold;
  line-height: $HS-line-height-heading;
  margin: 0;
  text-rendering: optimizelegibility;
}

h1, .h1 {
  font-size: $HS-font-size-h1;
}

h2, .h2 {
  font-size: $HS-font-size-h2;
}

h3, .h3 {
  font-size: $HS-font-size-h3;
}

h4, .h4 {
  font-size: $HS-font-size-h4;
}

h5, .h5 {
  font-size: $HS-font-size-h5;
}

h6, .h6 {
  font-size: $HS-font-size-h6;
}


// Body
p {
  @include normalize-margin;
  line-height: $HS-line-height-p;
  margin: 0 0 ($HS-line-height-base-px / 2);
}

b, strong {
  font-weight: $HS-font-weight-bold;
}

small {
  font-size: 80%;
}


// Links
a {
  color: $HS-color-link;
  outline: none;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



// Blockquotes
blockquote {
  border-left: $HS-blockquote-border;
  margin: 0 0 $HS-line-height-base-px;
  padding: 0 0 0 space(md);

  p {
    margin-bottom: 0;
    font-size: ceil($HS-font-size-base * 1.25);
    font-weight: $HS-font-weight-light;
    line-height: $HS-line-height-quote;
  }

  small {
    display: block;
    line-height: $HS-line-height-base-px;
    color: color(grey-light);

    &:before {
      content: '\2014 \00A0';
    }
  }
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}



// Address
address {
  display: block;
  font-style: normal;
  margin-bottom: space(lg);
}



// Code
code, kbd, pre, samp {
  font-family: $HS-font-family-mono;
  font-size: 80%;
}

code,
pre {
  background-color: color(grey, 200);
  border: $HS-border;
  border-radius: $HS-border-radius-md;
  color: color(red, 600);
  font-size: 80%;
  padding: 2px space(xs);
}

mark {
  background-color: color(yellow, 200);
  padding: 0.2em;
}




// Horizontal rule
hr {
  border: 0;
  border-top: $HS-border;
  margin-bottom: space(lg);
  margin-top: space(lg);
  width: 100%;
}
