// Objects :: Inline

.o-inline {
  list-style: none;
  margin-bottom: -(space(xs));
  margin-left: 0;

  &::after {
    @include clearfix;
  }

  &:last-child {
    margin-bottom: -(space(xs));
  }

  &__item {
    display: inline-block;
    margin: 0 0 space(xs);
    padding: 0;
    vertical-align: middle;
  }
}
