// Components :: Caret :: Base

& {
  border-left: $HS-caret-size solid transparent;
  border-right: $HS-caret-size solid transparent;
  border-top: $HS-caret-size solid $HS-caret-color;
  display: inline-block;
  height: 0;
  margin-left: $HS-caret-margin;
  vertical-align: middle;
  width: 0;
}
