// Components :: Menu :: Base

& {
  @include list-unstyled;
  margin: 0;
  padding: $HS-menu-padding;

  > li:not(.c-menu__divider) {
    margin: 0;
  }

  &__item {
    color: $HS-color-text;
    display: block;
    font-size: $HS-font-size-sm;
    line-height: 1;
    margin: 0;
    padding: $HS-menu-item-padding;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $HS-color-primary;
      color: color(white);
      text-decoration: none;
    }
  }

  &__divider {
    background-color: $HS-color-text-muted;
    border-bottom: 1px solid color(white);
    height: $HS-menu-divider-height;
    margin: $HS-menu-divider-margin;
    overflow: hidden;
  }
}
